{% extends "base.html" %}

{% block main %}
	<p>THIS IS THE GOD PAGE. I'VE NOT WRITTEN ANY SAFETY INTO THIS, SO BE CAREFUL.</P>
	
	<h2>News Article</h2>
	<div class="admin_news">
	<form action="/admin" method="post">
		<input type="hidden" name="kind" value="article"/>
		<table>
			<tr><td>Title:</td> <td> <input type="text" name="title" /></td></tr>
			<tr><td>Author:</td> <td> <input type="text" name="author" /></td></tr>
			<!--<tr><td>Date:</td> <td> <input type="text" name="date" /></td></tr>-->
			<tr><td>Body:</td></tr>
		</table>
		<textarea name="body"></textarea>
		<input type="submit">Submit</input>
	</form>
	</div>
	
	<h2>Badge</h2>
	<form action="/admin" method="post">
		<input type="hidden" name="kind" value="badge"/>
		Name: <input type="text" name="name"/><br/>
		Desc: <input type="text" name="description"/><br/>
		Cate: <input type="text" name="category"/><br/>
		Image: <input type="text" name="image"/><br/>
		Value: <input type="text" name="value"/><br/>	
		<input type="submit">Submit</input>
	</form>
	
	<h2>Award</h2>
	<form action="/admin" method="post">
		<input type="hidden" name="kind" value="award"/>
		<select name="hackers" size="20" multiple="multiple">
			{% for hacker in hackers %}
				<option value="{{ hacker.handle }}">{{ hacker.handle }}</option>
			{% endfor %}
		</select>
		<select name="badge" size="20">
			{% for badge in badges %}
				<option value="{{ badge.name }}">{{ badge.name }}</option>
			{% endfor %}
		</select><br/>
		Proof: <input type="text" name="proof"/><br />
		<input type="submit">Submit</input>
	</form>
	
{% endblock %}
