{% extends "base.html" %}

{% block main %}
    {% if badge %}
        <div>
            <div style="float: left; margin:20px">
                <img src="{{ badge.image }}"/>
            </div>
            <div style="float:left">
                <h2>{{ badge.name }}</h2>
                <p>Value: {{ badge.value }} | No. Awarded: {{ badge.awards.count }}</p>
                <p>{{ badge.description }}</p>
                <a href="/badge_application?badge={{ badge.name }}"><b>APPLY FOR BADGE</b></a>
            </div>
            <div style="clear:both"></div>
        </div>
        
        <table>
            <tr>
                <th>Awarded To</th>
                <th>Date</th>
            </tr>
            {% for award in badge.awards %}
                <tr>
                    <td><a href="/members/{{ award.member.handle }}"/>{{ award.member.handle }}</a></td>
                    <td>{{ award.date }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No such badge</p>
    {% endif %}
{% endblock %}
