{% extends "base.html" %}

{% block main %}
	{% if message %}
		<p>{{ message }}</p>
	{% else %}
		<div class="badge_application">
		<form action="/badge_application" method="post">
			<table>
				<tr><td><label for="badge">Badge: </label></td>
					<td><select id="badge" name="badge">
						{% for badge in badges %}
							<option {% ifequal badge.name selected_badge %}selected{% endifequal %}>
								{{ badge.name }}
							</option>
						{% endfor %}
						</select>
				</td></tr>
				<tr><td><label for="proof">Links to proof:</label></td><td><textarea id="proof" name="proof"></textarea></td></tr>
				<tr><td><input type="submit" /></td></tr>
			</table>
		</form>
		</div>
	{% endif %}

{% endblock %}
