{% extends "base.html" %}

{% block main %}
    {% if message %}
        <p>{{ message }}</p>
    {% else %}
        <h3>Update Profile</h3>
        <form action="/badge_application" method="post">
            <table class="form">
                <tr>
                    <td>Badge: </td>
                    <td>
                        <select id="badge" name="badge">
                        {% for badge in badges %}
                            <option {% ifequal badge.name selected_badge %}selected{% endifequal %}>
                                {{ badge.name }}
                            </option>
                        {% endfor %}
                    </select>
                    </td>
                </tr>
                <tr>
                    <td>Links to proof:</td>
                    <td><textarea id="proof" name="proof"></textarea></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" /></td>
                </tr>
            </table>
        </form>
    {% endif %}
{% endblock %}
