<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>{% if title %}{{ title }} - {% endif %}Man UP</title>
        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-22627975-1']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>
        <link type="text/css" href="jqueryui/css/vader/jquery-ui-1.8.11.custom.css" rel="stylesheet" />	
		<script type="text/javascript" src="jqueryui/js/jquery-1.5.1.min.js"></script>
		<script type="text/javascript" src="jqueryui/js/jquery-ui-1.8.11.custom.min.js"></script>

        
    </head>

	<body>
    	<div id="wrapper"> 
    	
    		<div id="user">
    			{% if user %}
    				<a href="/account">{{ user.handle }}</a> 
				{% endif %}
				<a href="{{ log_url }}">log {% if user %}out{% else %}in/register{% endif %}</a>
    		</div>
	        
	        <div id="header">
	        	<a href="/"><img src="/img/man-up-logo.png"/></a>
	        	<span id="status">
		            <p>{{ tag_line }}</p>
		        </span>
	        	
	        </div>
	        
	        
		        
	    	<div id="top-bar">
		    	<div id="navigation">
		    		<p>
		                <a href="/">News</a>
		                <a href="/talk">Talks</a>
		                <a href="/hack-a-thon">Hack-a-thons</a>
		                <a href="/masterclass">Masterclasses</a>
		                <a href="/members">Members</a>
		                <a href="/badges">Badges</a>
		                <a href="/manual">Manual</a>
		                <a href="/faq">FAQ</a>
		                <a href="/calendar">Calendar</a>
		                <a href="/contact">Contact</a>
		                <a href="/newsletter">Newsletter</a>
	                </p>
		    	</div>
		    	           
		        
		        <div style="clear: both;"></div>
	        </div>
	
        	<div id="main">
            	{% block main %}
    			{% endblock %}  
        	</div>
        	
        	<div id="footer">Copyright &copy; 2011 MAN-UP</div>
    	
    	</div>
	</body>
</html>
