{% extends "base.html" %} 

{% block main %}
    <h1>Contact</h1>

    <h3><a href="http://www.facebook.com/home.php?sk=group_128505810553286">Facebook group</a></h3>

    <p>
        Join the <a href="http://www.facebook.com/home.php?sk=group_128505810553286">Facebook group</a> and let all your friends know how cool you are.
    </p>

    <h3><a href="http://groups.google.com/group/m-up">Google Group</a></h3>

    <p>
        You can get involved in MAN-UP by joining the <a href="http://groups.google.com/group/m-up">google group</a> where you
        can talk to other members and discover more about the swell things we do.
    </p>

    <h3><a href="http://vimeo.com/groups/81329">Vimeo</a></h3>

    <p>
        View the videos from Man-UP meetings, trailers, master classes and hack-a-thons at our <a href="http://vimeo.com/groups/81329">Vimeo group</a>. 
        If you've got videos you like included, ask to join the group at the next meetings.
    </p>
{% endblock %}
