{% extends "base.html" %}

{% block main %}
<h1>Frequently Asked Questions</h1> 
	
    <div class="faq"> 
        <h3 class="question">MAN UP?</h3> 
        <p class="answer">Yeah, that's right.</p> 
    </div>    
    
    <div class="faq"> 
        <h3 class="question">Why?</h3> 
        <p class="answer">Because for too long have us nerds stood by, complacent with our efforts. It's high time we took it to the limit. Utilise and maximise our skills.</p> 
    </div>    
    
    <div class="faq"> 
        <h3 class="question">How?</h3> 
        <p class="answer">Through a society where diligence and enthusiasm are rewarded. Through a society where one can achieve their nerdiest dreams. Through a society where potential is noticed and embraced.</p> 
    </div>    
    
    <div class="faq"> 
        <h3 class="question">Err...</h3> 
        <p class="answer">Okay enough with the grandiose speeches. Basically we want to make cool things - with code.</p> 
    </div>    
    
    <div class="faq"> 
        <h3 class="question">Cool code?</h3> 
        <p class="answer">We want people to start noticing the computer scientists here at Manchester and why shouldn't they? We're the ones on campus with the knowledge of today's computer systems and should be able to demonstrate the 'creative' and 'interesting' things we can do with them.</p> 
    </div>    
    
    <div class="faq"> 
        <h3 class="question">So is it like a Q&A session for my java labs?</h3> 
        <p class="answer">No.</p> 
    </div>    
    
    <div class="faq"> 
        <h3 class="question">So you're not going to actually help with my studies? </h3> 
        <p class="answer">No and even more importantly that is not the point of the society. We aim to help develop the skills you can't learn in the class room. The skills you need to actually create something cool in computer science. The skill of having a go and doing a task - no matter how insanely impossible it seems.</p> 
    </div>    
    
    <div class="faq"> 
        <h3 class="question">Sounds like a load of effort...</h3> 
        <p class="answer">It is and if putting a load of effort into something that has no immediate gratifying reward isn't your cup of earl gray then MAN-UP is probably not for you.</p> 
    </div>    
    
    <div class="faq"> 
        <h3 class="question">Actually, I do think I could see myself spending night after night tackling a problem that does not necessarily have a solution. </h3> 
        <p class="answer">Good on you. Look on the <a href="/calendar">calendar page</a> for the next meeting and look on the <a href="/contact">contact page</a> for ways to get in touch.</p> 
    </div>    
{% endblock %}
