{% extends "base.html" %}

{% block main %}
<h1>Hack-a-thons</h1>
<h2>Upcoming Hack-a-thon</h2>
<p>Create-your-own StarCraft Bot Tournament coming in March</p> 
<h2>Past Hack-a-thons</h2>
<h3>Hack-a-thon 0: Cantina Games</h3>
<p>On Saturday 26th February 2011, four teams of brave hackers entered the first Manchester Ultimate Programming Hack-a-thon - Cantina/Pub/Bar games</p>
<center><iframe src="http://player.vimeo.com/video/20447827"
    width="400" height="300" frameborder="0"></iframe></center>
<p>There was a great deal of tapping frantically on keyboards, a few moments of confusion/despair, but by the end of the day each team created something
of their own to be placed in front of our planel of judges.</p>
<h4>Hack-a-thon 0: Premise</h4>
<p><b>Create a game for 4 to 8 players to be played at a table
in a noisy bar</b>.</p>
<center><img src="/img/hackathon-explanation.png" alt="Hack your life away..."/></center>
<p>The games will be judged in <b>The Student Union bar</b>
on the evening of <b>Saturday 26th February</b> after the hack-a-thon, which
will take place in the Kilburn building between 9:30am and 7:30pm, <b>you
will need an out of hours pass</b>. The judges will play your game for ten minutes per round, and there will be as many rounds as there are teams.  Members
of your team will be allowed to join in the games in order to ensure the
judges play them correctly and to provide tech support. You will have 2
minutes to explain the rules to the judges before the round starts.</p>
<p>Your game may use any hardware, software or language. There are
plugs and free wifi within the bar.</p>
<p>The games with be judged on the following criteria.</p>

<ul>
    <li>Entertainment (out of 5)
    <ol>
        <li>Didn't want to play it at all</li>
        <li>Wanted to stop playing after 1 minute</li>
        <li>Wanted to stop playing after 5 minutes</li>
        <li>Wanted to stop playing after 10 minutes</li>
        <li>Wanted to keep playing</li>
    </ol>
    </li>
    <li>Coolness (out of 5)
    <ol>
        <li>Very embarrassing to play, got some funny looks</li>
        <li>Slightly embarrassing to play</li>
        <li>Not embarrassing but didn't interest anyone else in the bar</li>
        <li>Cool, others looked on in interest</li>
        <li>Very cool, other people wanted to join in</li>
    </ol>
    </li>
    <li>Ease of Use (out of 5)
    <ol>
        <li>Game crashed</li>
        <li>Spent most of the time trying to understand the game</li>
        <li>Spent some of the time trying to understand the game</li>
        <li>Didn't really have to think about how to play</li>
        <li>Didn't have to think at all about the how it worked, just
        got on with the playing.</li>
    </ol>
    </li>
</ul>

<p>A maximum of six teams may take part and we'll operate on a first
come first serve basis. <b>Register your team at Thursday's meeting</b>.
The is no limit to the number of people you may have in your team. You
need to the think of a team name.</p>

<p>Judging will take place between 9pm and 11pm at The Student Union bar. The
winning team receives the special hack-a-thon badges and a Reality Mug.
Assuming we have 6 teams, the schedule for the evening is as follows.</p>

<ul>
    <li>8:30pm Arrive at The Student Union with your game</li>
    <li>9:00pm Round 1</li>
    <li>9:15pm Round 2</li>
    <li>9:30pm Break</li>
    <li>9:40pm Round 3</li>
    <li>9:55pm Round 4</li>
    <li>10:10pm Break</li>
    <li>10:20pm Round 5</li>
    <li>10:35pm Round 6</li>
    <li>11:00pm Winners announcement and awards</li>
</ul>

<p>It is recommended that you start creating you entry straight
away. At the very least, you should have designed the game before the
hack-a-thon so that all you need to do is the coding.</p>

<p>We are aware that for many this will be their first hack-a-thon
and probably the first time you've created something outside of the
course. Do not be scared, give it a go and you'll get computer hacking
skills. eldog and foxxy will be available throughout the hack-a-thon to
assist people where they can. Come to the master class on Wednesday,
foxxy will show you some great tools that you might want to use. We'll
also talk to anyone after Thursday's meeting that wants advice on how to
implement their idea.</p>
{% endblock main %}
