{% extends "base.html" %}

{% block main %}
<div class="manual-entry">
<h1> Manual </h1>
<p>
This manual is designed to contain all the necessary information regarding the structure of Manchester
Ultimate Programming, its purpose and its general running. It is mosty likely going to be in a state of
continuous beta, however it is intended to capture the general gist what MAN-UP is all about.
</p>
</div>
<div class="manual-entry">
<a name="mantra"><h2>Mantra</h2></a>
<ul>
	<li>
	We want to create stuff that is worth talking about. Things that not only someone familiar with computer science
	could appreciate but also someone forom outside the field. To make computer science exciting.
	</li>
	<li>
	There are two types of things that can be created in this world: things that are cool and things that are well
	implemented. We want to be able to createv things which are both well implemented and cool. As impossible as
	this seems.
	</li>
	<li>
	When it comes down to it, sometimes you've just got to make the thing yourself.
	</li>
	<li>
	Someone out there is better than you and has done more interesting things. Never assume you're the best - but
	at least give it a go.
	</li>
	<li>
	It's all about having a good story to tell at the end.
	</li>
</ul>
<center>
<img src="/img/mantra.jpg"/>
</center>
</div>
<div class="manual-entry">
<a name="goals"><h2>Goals</h2></a>
<ul>
	<li>
	We want to create a sense of friendly competition between the members of the Society
	</li>
	<li>
	Each member has associated with them XP, which is represented on their profile on this site
	</li>
	<li>
	XP is earnt through <a href="#badges">badges<a>.
	</li>
	<li>
	Badges are awarded by completing certain nerdy tasks
	</li>
	<li>
	Members then get to showcase what they have done to earn their badges at the meetings
	</li>
</ul>
</div>
<div class="manual-entry">
<a name="activities"><h2>Activities</h2></a>
<p>
There are three main activities that are organised by the society
</p>
<ol>
	<li>
	Meetings
	</li>
	<li>
	Master-classes
	</li>
	<li>
	Hack-a-thons
	</li>
</ol>
</div>
<div class="manual-entry">
<a name="meetings"><h2>Meetings</h2></a>
<p>
These take place every Thursday at 5pm in LF15, in
the Kilburn Building (you might want to check the <a href="/calendar">calendar</a> to double check).
</p>
<p>
The general outline for what goes in meetings is
</p>
<h3>An interactive showcase introduction</h3>
    <p>Member/members of society volunteer to entertain whilst the room fills
	up. The source of this entertainment could be anything which is fun and has some form of technical value.</p>
<h3>This week in Tech</h3>
	<p>Where we get to discuss the latest happenings in technology such as what exciting things 
	have been happening in Silicon Valley or in Academia.
	</p>
	<h3>Question of the week</h3>
	<p>This an open-ended, tongue in cheek question that is designed to for everyone in the 
	group to have fun answering it, e.g., "if you could be any cable, what would you be, and what gender would
	your connectors be?".</p>
	<a name="talks"><h3>Talks / Open Mic for nerds</h3></a>
	<p>This is the open session for any members who want to show off things that they have created.
	Essentially it's a five minute slot in front of the group. You can email in advance to let us know you want
	to give a talk, or just say on the day, All are welcome. It is advised you bring your own laptop as there is
	one school computer in the room, but we don't trust it.<p>
	<h3>Hack-a-thon planning/review</h3>
	<p>Where we go over organisational details for upcoming hack-a-thons and also 
	reflect on a hack-a-thon after it has taken place - figuring out what worked and what bombed.
	</p>
	<h3>Badge awards</h3>
	<p>The most exciting part of them all, where we hand out the hard earnt badges. There will be tears.
	</p> 
</div>
<div class="manual-entry">
<a name="master_classes"><h2>Master Classes</h2></a>
<p>These are on Wednesday lunchtimes (again see the <a href="/calendar">calendar<a>) for confirmation. These are
where a member of the society gives a talk on something that they have knowlegde of that they think others 
should know.</p>
<p> They are also designed to prepare members with the tools/skills needed for upcoming hack-a-thons.</p>
</div>
<div class="manual-entry">
<a name="hackathons"><h2>Hack-a-thons</h2></a>
<p>This is where the real programming happens. Hack-a-thons are competitions held roughly every two weeks (once
again check the <a href="/calendar">calendar</a>). You will be able to work as part of a team to create a solution
that will be pitted against those created by other teams in an attempt to win a Reality Mug - the most coverted
prizes of all time.</p>
</div>
<div class="manual-entry">
<a name="badges"><h2>Badges</h2></a>
<h3>What are badges?</h3>
<p>These are the Life Force of MAN-UP, the items that once earnt will reward you with precious XP, allowing you
to climb the ranks of the MAN-UP leaderboard.</p>
<p>Of course they are a little bit tongue-in-cheek. Please do not take the descriptions of tasks that they demand
of you to be verbatim, it is more the general spirit of task that is to be done.</p>
<p>They are divided into different categories, ranging from the serious to the absurd and depending on the 
difficulty of the task they have different XP rewards.</p>

<h3>How to claim a badge</h3>
<p>
Quite simply go to the <a href="/badge_application">badge application form</a> and pick the badge you wish to 
claim for and post a link to your proof. We recommend hosting a tar of your proof, which contains any source
code, images or links to video, in your public Dropbox folder or blog. If you don't have Dropbox, you should, 
get it <a href="http://www.getdropbox.com">here</a>.
</p>
</div>
<div class="manual-entry">
<a name="code_of_honour"><h2>Code of Honour</h2></a>
<p>
Quite simply, it would be easy to cheat and lie about badges. As we are only a small society there is relatively
very little point in doing this - as we will find you and exile you.
</p>
<p>
So in brief, here is our code of honour
</p>
<ul>
	<li>
	Don't be <a href="http://vimeo.com/19544156">Scott Jamie</a>
	</li>
</ul>
</div>
<h2>One last note</h2>
<p>
The following quote essentially sums up the philosophy behind MAN-UP
</p>
<p><i>
“If you haven’t trashed your computer while doing something questionable, then you’re not a computer scientist – you’re just an arts grad who didn’t get laid”
</i>- Dominic Connor, The Register 
</p>
{% endblock %}