{% extends "base.html" %} {% block main %}
<h1>Masterclasses</h1>
<h3>Masterclass 0: Hack-a-thon training</h3>
<center><img src="/img/fsck-nedit-masterclass.png"
	alt="fsck nedit" /></center>
<p><b>Update:</b> Sample code
<ul>
	<li><a href='project-files/demos.py'>Simple Python demos</a></li>
	<li><a href='project-files/speak.py'>Python TTS for Windows</a></li>
</ul>
<p>We will be going over:</p>
<p>Team programming practices</p>
<ul>
	<li>Sharing a dropbox folder</li>
	<li>Dividing up the work</li>
	<li>Pair programming</li>
	<li>Boshing it out</li>
</ul>
<p>Tools for quick development</p>
<ul>
	<li>Eclipse and all it's plugins</li>
	<li>Gedit with a python shell</li>
	<li>The subprocess module in Python</li>
	<li>GIMP</li>
	<li>Google appengine</li>
	<li>django/cherrypy</li>
	<li>Android</li>
</ul>
<p>Hack-a-thon techniques</p>
<ul>
	<li>Making a sweet plan</li>
	<li>Scope</li>
	<li>Deligating work</li>
	<li>Doing the work</li>
	<li>Picking the right code to copy and paste</li>
</ul>
<p>We will be handing out a pack with all the information in the
masterclass, as well as recording video footage of the masterclass
itself.</p>
<p><b>Bring your laptops!</b> We'll be doing an install-fest to
makle sure everyone has the tools setup for the hack-a-thon.</p>
<p>Hope to see you on Wednesday!</p>
{% endblock main %}
