{% extends "base.html" %}

{% block main %}
    <h1>Members</h1>
    <p>
        Members of MAN-UP are listed and their handle is displayed along with their current XP. XP is earned through <a href="/badges">badges</a>.
    </p>

    <h2>Members table</h2>
    <table>
        <tr>
            <th>Rank</th>
            <th>Handle</th>
            <th>XP</th>
        </tr>
        {% for ranked_member in members %}
            <tr>
                <td>{{ ranked_member.0 }}</td>
                <td><a href="{{ ranked_member.1.handle }}">{{ ranked_member.1.handle }}</a></td>
                <td>{{ ranked_member.1.score }}</td>
            </tr>
        {% endfor %}
    </table>
    </p>
{% endblock %}
