{% extends "base.html" %} {% block main %}
<div class="article">
<h1>Starcraft AI Tournament Final this Thursday's Meeting 31/3/2011</h2>
<p>eldog 30/03/2011</p>
<center>
<img src="/img/starcraft-final-promo.jpg" alt="starcraft ai tournament final - 5pm 31st March LF15" title="This is going to *really* melt _minds_"/>
</center>
<p>We are pleased to invite you to come and watch the Starcraft AI Tournament this <b>Thursday 31st March at 5pm in LF15, Kilburn Building</b>.</p> 

<p>Last Saturday seven teams hacked their way to create AI players who will now face each other in a tournament to determine a true programming champion.</p>

<p>There will be free popcorn and a chance to see some neat bits of programming.</p>

<p><b>The event will be purely for entertainment - no technical know-how needed.</b></p>

<p>Hope to see you there,</p>

<p>eldog</p>
</div>
<div class="article">
<h1>Starcraft AI tournament this Saturday - All welcome</h2>
<p>eldog 24/03/2011</p>
<img src="/img/starcraft-promo.jpg" alt="starcraft ai tournament - 26th March LF15"/>
<p>Want to work for a great company like Facebook, Spotify, Apple or Google?</p>

<p>Want to do something more interesting than developing Java Enterprise Systems for the rest of your life?</p>

<p>Then get some skills and come to Manchester Ultimate Programming’s first 24 hour hack-a-thon this Saturday 26th March, LF15, Kilburn Building.</p> 

<p>The goal is to create a StarCraft AI, defeat your opponents, rise through the tournament and become the ultimate programming champion.</p>

<p>Full details at to today's meeting, 5pm in LF15.</p>

<p>It will be using the technology used for the <a href="http://eis.ucsc.edu/StarCraftAICompetition">AIIDE Starcraft Competition</a>

<p>However, we will be just focused on creating bots for the <a href="http://eis.ucsc.edu/StarCraftTournament1">First Tournament</a>

<p>Instructions on getting started are available <a href="https://docs.google.com/document/d/1v1OMZRNRWI16zbYrwDTfxk4G_zxtDsSydDQggTr6u8E/edit?hl=en_GB"> here</a>

<p>No previous experience required.</p>
<p>This competition is suitable for all years, 1st, 2nd, 3rd and beyond. Worried you won’t be able to do it? In 50 lines of code you beat the built-in AI. You don't need to know anything about Windows development, C++ or even StarCraft; we've prepared a starter kit and we will be on hand to help throughout the event. You don't even need Windows.</p>

<p>Employers care about what you've done, not the exam results you got. Vastly improve your employment prospects: create something you can talk about and do something outside of your course that is actually interesting. It's only one day in your whole life.</p>
<center>
<img src="http://imgs.xkcd.com/comics/11th_grade.png" alt="props to xkcd etc."/>
</center>
</div>
<div class="article">
<h1>Meeting 4 this Thursday (3/3/2011) LF15</h2>
<p>eldog 28/02/2011</p>
<p>We had a great first hack-a-thon this weekend. Thanks to every one
who attended and for those who missed out, don't worry there will be
plenty more opportunities to sit infront of a screen and write some
seriously hacked together code.</p>
<p>Foxxy has compiled a video of the highlights of the event</p>

<center><iframe src="http://player.vimeo.com/video/20447827"
    width="400" height="300" frameborder="0"></iframe></center>
<p>There is a meeting at the normal time and place. There will be no
masterclass this week and in fact we are now going to merge meetings
and masterclasses so that there is a tighter feel to the events.</p>
</div>
<div class="article">
<h1>Cantina Games Hack-a-thon this week</h1>
<p>eldog 20/02/2011</p>
<p>Hack-a-thon 0, Cantina games, is happening this week. On Saturday
26th February brave man-uppers will be hacking their hearts away. In
commermoration, we've produced a brand new trailer.</p>
<center><iframe src="http://player.vimeo.com/video/20159547"
    width="400" height="300" frameborder="0"></iframe></center>
</div>
<div class="article">
<h1>Meeting 1 roundup</h1>
<p>eldog, 20/02/2011</p>
<p>We had a great meeting last Thursday, thanks every one who came
down. One of the highlights was Cosmin's LED cube which quite
impressively acted as a mini advetisment for the society.</p>
<center><iframe src="http://player.vimeo.com/video/20143321"
    width="400" height="300" frameborder="0"></iframe></center>
<p>Head over to the <a href="/talk">talks</a> page to see Cosmin's
talk on the cube, Adam's face recognition program and my own Android
"colouring-in" game.</p>
</div>

<div class="article">
<h1>Hack-a-thon 0: Cantina Game</h1>
<p>foxxy, 13/02/2011</p>
<p><b>Create a game for 4 to 8 players to be played at a table
in a noisy bar</b>.</p>
<center><img src="/img/hackathon-explanation.png"
    alt="Hack your life away..." /></center>
<p>The games will be judged in <b>The Student Union bar</b> on the
evening of <b>Saturday 26th February</b> after the hack-a-thon, which
will take place in the Kilburn building between 10am and 6pm, <b>you
will need an out of hours pass</b>. There will be six groups of judgeis and
your game will be played by each one for ten minutes at a time. Members
of your team will be allowed to join in the games in order to ensure the
judges play them correctly and to provide tech support. You will have 2
minutes to explain the rules to the judges before the round starts.</p>
<p>Your game may use any hardware, software or language. There are
plugs and free wifi within the bar.</p>
<p>The games with be judged on the following criteria.</p>

<ul>
    <li>Entertainment (out of 5)
    <ol>
        <li>Didn't want to play it at all</li>
        <li>Wanted to stop playing after 1 minute</li>
        <li>Wanted to stop playing after 5 minutes</li>
        <li>Wanted to stop playing after 10 minutes</li>
        <li>Wanted to keep playing</li>
    </ol>
    </li>
    <li>Coolness (out of 5)
    <ol>
        <li>Very embarrassing to play, got some funny looks</li>
        <li>Slightly embarrassing to play</li>
        <li>Not embarrassing but didn't interest anyone else in the bar</li>
        <li>Cool, others looked on in interest</li>
        <li>Very cool, other people wanted to join in</li>
    </ol>
    </li>
    <li>Ease of Use (out of 5)
    <ol>
        <li>Game crashed</li>
        <li>Spent most of the time trying to understand the game</li>
        <li>Spent some of the time trying to understand the game</li>
        <li>Didn't really have to think about how to play</li>
        <li>Didn't have to think at all about the how it worked, just got
        on with the playing.</li>
    </ol>
    </li>
</ul>

<p>A maximum of six teams may take part and we'll operate on a first
come first serve basis. <b>Register your team at Thursday's meeting</b>.
The is no limit to the number of people you may have in your team. You
need to the think of a team name.</p>

<p>Judging will take place between 9pm and 11pm at The Student Union
bar. The winning team receives the special hack-a-thon badges and a
Reality Mug. Assuming we have 6 teams, the schedule for the evening is
as follows.</p>

<ul>
    <li>8:30pm Arrive at The Student Union with your game</li>
    <li>9:00pm Round 1</li>
    <li>9:15pm Round 2</li>
    <li>9:30pm Break</li>
    <li>9:40pm Round 3</li>
    <li>9:55pm Round 4</li>
    <li>10:10pm Break</li>
    <li>10:20pm Round 5</li>
    <li>10:35pm Round 6</li>
    <li>11:00pm Winners announcement and awards</li>
</ul>

<p>It is recommended that you start creating you entry straight
away. At the very least, you should have designed the game before the
hack-a-thon so that all you need to do is the coding.</p>

<p>We are aware that for many this will be their first hack-a-thon
and probably the first time you've created something outside of the
course. Do not be scared, give it a go and you'll get computer hacking
skills. eldog and foxxy will be available throughout the hack-a-thon to
assist people where they can. Come to the master class on Wednesday,
foxxy will show you some great tools that you might want to use. We'll
also talk to anyone after Thursday's meeting that wants advice on how to
implement their idea.</p>
</div>

<h1>FREE BEER - MAN-UP starts Feb 10th 5:00pm @ LF15, Kilburn
Building</h1>
<p>eldog, 04/02/2011</p>

<p>You are invited to the premier meeting of MANchester Ultimate
Programming; a society that uses computer science to create things that
are cool yet well implemented.</p>
<br />
<center><iframe src="http://player.vimeo.com/video/19544156"
    width="500" height="281" frameborder="0"></iframe><br />
</center>

<p>One of the reasons we are starting this society is because there
is a most unfortunate lack of actual computing clubs within the
University of Manchester. Labs and examinations are considered the be
all and end all of computer science.</p>

<p>This is unacceptable, we are supposed to be some of the brightest
minds in the country, we should expect more from ourselves especially in
a field full of such tremendous power and potential. If we don’t bother
trying we will most likely become useless technically-deluded banes of
the IT industry, writing broken bloatware to clog up the next edition of
Windows and further securing computers in the minds of the layman as
Excel sheets and word documents.</p>

<p>This society aims change the belief that “computer science is
boring” and allow people to be part of a community where they can share
their creative ideas, push their abilities and explore the limits of
what is sanely possible.</p>

<h2>MAN-UP for dummies</h2>
<p><b>Step 0: come to meetings</b><br />
<center><img src="/img/step-0-come-to-meetings.jpg"
    alt="Hmm a purple lightsabre?" /></center>
<br />

<p><b> Step 1: make cool things </b> <br />
<center><img src="/img/step-1-make-cool-things.jpg"
    alt="Anakin was able to make him when he was freegin’ eight or whatever." />
</center>
<br />

<p><b> Step 2: get badges </b> <br />
<center><img src="/img/step-2-get-badges.jpg"
    alt="According to rebel law, wookies are not eligible to receive ‘destroy the death-star’ medals, rest assured MAN-UP will NOT hold such a blatantly racist code of honour" />
</center>
<br />

<p>It is of course a little most sophisticated than that. The inner
workings of the society and details on forthcoming events will all be
explained at the first meeting. Everyone is welcome, undergraduates,
postgraduates, anyone.</p>

<h2>What do I do now?</h2>

<p>Come to room LF15 in the Kilburn building at 5pm on Thurday
February 10th for the first meeting and start getting involved.</p>

<p>Also, if it helps you make your decision - <b>there’s going
to be free beer.</b></p>

<p>If you have any burning questions and want to find out more feel
free to follow these instructions to get yourself a handle and on to the
mailing list where you can join in discussions.
<ol>
    <li>You must have a Google Account. If not, get one</li>
    <li>Click "login" in the top right. This will take to Google's log
    in page. Once there, do the only thing you can do and log in. This will
    return you to MAN-UP</li>
    <li>You'll now see a long number in the top right. This is your
    Google account ID and, at the moment, your handle. Click the number to
    change your handle.</li>
    <li>Pick a cool handle. Don't pick a lame one, you'll be stuck
    with it forever. Actually, you can change it but just get it right the
    first time then you won’t have to bother.</li>
    <li>Right, now join the mailing list/Google group. When you join
    the mailing list, set your nickname to be the same as your handle.</li>
</ol>
{% endblock %}
