{% extends "base.html" %}

{% block main %}
    <h1>Events</h1>
    <p>This is a test app that will retrieve a list of events from the Man-UP
    google calendar between specified dates. You can also have it emailed to 
    you if you are logged in.</p>
    {{ errors.date_error }}
    <form action="/newsletter" method="post">
		Start Date <input type="text" name="start_date" id="start_date" />
		<script>
		    $('#start_date').datepicker({dateFormat: 'yy-mm-dd'});
	    </script>
	    <br />
		End Date <input type="text" name="end_date" id="end_date" />
		<script>
		    $('#end_date').datepicker({dateFormat: 'yy-mm-dd'})
	    </script>
	    {% if email %}
	    <br />
	    <input type="checkbox" name="email" value="email" /> Email me a copy (will be sent to {{ email }}) 
	    <br />
	    {% endif %}
		<input type="submit"/>
    </form>
    {% for entry in event_feed.entry %}
        {% for a_when in entry.when %}
            <h2>{{ entry.title.text }}</h2>
            <p><b>Starts:</b> {{ a_when.start }}</p>
            <p><b>Ends:</b> {{ a_when.end }}</p>
            {% for a_where in entry.where %}
                <p><b>Location:</b> {{ a_where.value }}</p>
            {% endfor %}
            <p>{{ entry.content.text }}</p>
        {% endfor %} 
    {% endfor %}
{% endblock %}
