{% extends "base.html" %}

{% block main %}
	<h1>Projects</h1>
	<p>
	Projects that have been created or are currently being developed by members of MAN-UP are displayed here. 
	This allows members of MAN-UP to have a place where they can showcase their ideas.</p>
	<h2><a href="/project-files/wav.py">8-bit PCM WAV manipulation library</a></h2>
	<p>I once had to manipulate some WAVs. Here is the Python I wrote to do
	   it. It's not very robust but I uses some clever Python tricks to read and
	   write the WAV files. Take a look, use, improve and share.</p>
	<p>-- foxxy</p>
{% endblock %}
