{% extends "base.html" %}

{% block main %}
	<h1>Talks</h1>
	<p>
	Talks given by members of MAN-UP in the meetings are archived here. 
	This allows members of MAN-UP to have a place where they can showcase things that they are interested in.</p>
	
	<h2>Cosmin's LED cube</h2>
	<center>
	<iframe src="http://player.vimeo.com/video/20143316" width="400" height="300" frameborder="0"></iframe>
	<br />
	</center>
	
	<h2>Craigacp's Face recognition and speech synthesis software</h2>
	<center>
	<iframe src="http://player.vimeo.com/video/20141014" width="400" height="300" frameborder="0"></iframe>
	<br />
	</center>
	
	<h2>Eldog's Android Game: RGBRPG</h2>
	<center><iframe src="http://player.vimeo.com/video/20141173" width="400" height="300" frameborder="0"></iframe><br />
	</center>
	<p>This was a game which I created over two weeks in the Summer of 2010. It was my first forray into
	android development and honestly, I made it pretty poorly. However, it works and is fun, so I guess that's
	all that matters :p .</p>
	<p> You can download a working alpha version here </p>
	<center>
	<img src="http://qrcode.kaywa.com/img.php?s=8&d=http%3A%2F%2Fdl.dropbox.com%2Fu%2F2940359%2FRGBRPG.apk" alt="rgbrpg qr code"/>
	</center>
	<p> And the source is <a href="http://code.google.com/p/rgbrpg">here</a>
	<p>-- eldog</p>
	
	<h2>Foxxy's 8-bit PCM WAV manipulation library</h2>
	<p>I once had to manipulate some WAVs. <a href="/project-files/wav.py">Here</a> is the Python I wrote to do
	   it. It's not very robust but I uses some clever Python tricks to read and
	   write the WAV files. Take a look, use, improve and share.</p>
	   <p> <a href="/project-files/wav.py">8-bit PCM WAV manipulation library</a>
	<p>-- foxxy</p>
{% endblock %}
