a {
	color: inherit;
}

a img {
	border: none;
}

html {
	background: black;
	font-family: monospace;
	color: white;
	margin: 0;
	padding: 0;
}

body {
	background-image: url('/img/bg.jpg');
	background-position: top;
	background-repeat: no-repeat;
	margin: auto;
}

#wrapper {
	min-height: 605px;
	margin: auto;
	width: 800px;
}

#user {
    background: black;
    float: right;
}

#header {
	padding-top: 110px;
	margin: auto;
}

#top-bar {
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	text-align: justify;
}

.manual-entry {
	border-bottom: 1px solid white;
}

#navigation {
	float: left;
}

#status {
	color: red;
	font-weight: bold;
	text-align: right;
}

#newsitem {
	margin: auto;
	border-style: solid;
	border-width: 5px;
	border-color: #FFFFFF;
}

#main {
    float: left;
    clear: left;
}

#footer {
    float: left;
    clear: left;
    width: 800px;
	color: gray;
	font-size: small;
	margin-bottom: 50px;
	margin-top: 50px;
	text-align: center;
}

table {
	width: 100%;
}

td {
	padding: 5px;
}

.admin_news input {
	width: 100%;
}

.admin_news textarea {
	width: 100%;
	height: 200px;
}

.badge_application select {
	width: 100%;
}

.badge_application textarea {
	width: 100%;
	height: 200px;
}	

th {
	background-color: gray;
}

#tab-links {
    float: left;
}

.tab-link {
    text-decoration: underline;
    float: left;
    margin-right: 20px;
}

.tab-link:hover {
    cursor: pointer;
}

.tab-page {
    clear: left;
    float: left;
    display: none;
}

.form {
    border-spacing: 0px;
    width: auto;
}


td {
    vertical-align:  top;
    text-align: right;
    padding: 5px;
    margin: 0px;
}

input, textarea, select {
    width: 250px;
    background-color: #ffffff;
    border-width: 3px;
    border-style: double;
    border-color: #111111;
    padding: 1px;
    margin: 0px;
}

select {
    width: 257px;
}

input[type=submit] {
    width: auto;
}

input[type=submit]:hover {
    cursor: pointer;
}
